.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}

.trainers-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 16px;
}

.trainer-card {
    background-color: #060000;
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.3333% - 32px);
    max-width: calc(33.3333% - 32px);
    min-width: 300px;
}

.trainer-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.trainer-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    background: linear-gradient(135deg, #13ecaf 0%, #13b1ea 100%);
}

.trainer-info {
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.trainer-name {
    background-color: #ffffff;
    color: #000000;
    padding: 3px 6px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(135deg, #8527eb 0%, #ffffff 100%);
}

.trainer-region {
    background-color: #ffffff;
    color: #000000;
    padding: 3px 6px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(135deg, #818ffa 0%, #ffffff 100%);
}

.trainer-badges {
    background-color: #ffffff;
    color: #000000;
    padding: 3px 6px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(135deg, #50ccf2 0%, #ffffff 100%);
}


.trainer-status.status-active {
    background-color: #ffffff;
    color: #000000;
    padding: 3px 6px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(135deg, #74f089 0%, #ffffff 100%);
}

.trainer-status.status-champion {
    background-color: #ffffff;
    color: #000000;
    padding: 3px 6px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(135deg, #c3f06a 0%, #ffffff 100%);
}


@media screen and (max-width: 900px) {
    .trainer-grid {
        gap: 16px;
        width: 100%;
    }

    .trainer-info {
        padding: 2px;
        gap: 1px;
        flex-direction: column;
        align-items: flex-start;
    }

    .trainer-name,
    .trainer-region,
    .trainer-badges,
    .trainer-status {
        font-size: 8px;
        padding: 2px 4px;
    }

    .trainer-card {
        flex: calc(50% - 16px);
        max-width: calc(50% - 16px);
    }
}

@media screen and (max-width: 480px) {
    .trainer-grid {
        gap: 16px;

    }

    .trainer-info {
        padding: 2px;
        gap: 1px;
        flex-direction: column;
        align-items: flex-start;
    }

    .trainer-name,
    .trainer-region,
    .trainer-badges,
    .trainer-status {
        font-size: 8px;
        padding: 2px 4px;
    }

    .trainer-card {
        flex: 100%;
        max-width: 100%;
    }

}